<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Delete</title>
    </head>
    <body>

        <h1>Remove !</h1>

        <form action="#" th:action="@{/form}" method="POST">
            <p><label for="name">Name</label>: <input type="text" name="name" id="name"/></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
        
        <br></br>
        <a href="/form" th:ref="@{/form}"> HOME </a>

    </body>
</html>